table.grid
{
    margin:0.5em;
}
tr.gridrow
{
    font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";
    padding-top:0.5em;
    padding-bottom:0.5em;
    margin:0.5em;
    background-color: #e8eef4;
}
.gridrow td
{
    padding:1em;
    font-size:smaller;
    text-align:center;
    max-width: 300px; /*or whatever*/
    word-wrap: break-word;
}
.gridrow_alternate td
{
    padding:1em;
    text-align:center;
}
tr.gridrow_alternate
{
    font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";
    padding-top:0.5em;
    padding-bottom:0.5em;
    margin:0.5em;
}